<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yimer.enginneindustries.bluetv">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:banner="@mipmap/banner_logo_foreground"
        android:icon="@mipmap/colnet"
        android:label="@string/app_name"
        android:theme="@style/Theme.BlueTV">
        <activity
            android:name=".activities.PlayBackActivity"
            android:exported="false" />




        <activity
            android:name=".detail.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>